PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventory_management?schema=public"
JWT_SECRET="super-secret-jwt-key-for-inventory-management-min-32-chars-long"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"

# Initial Super Admin Seed Credentials
SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_EMAIL="admin@inventory.local"
SUPER_ADMIN_PASSWORD="SuperAdminInitialPassword123!"

